html, body, main {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}
nav .input-field {
  color: black;
}
nav .input-field label.active i {
  color: gray;
}
td, th {
  padding: 2px 2px;
}
hr {
  margin: 0px;
}
#map {
  width: 100%;
  height: 100%;
}
#nav-mobile li a i {
  line-height: inherit;
  width: 2rem;
  font-size: 1.6rem;
  display: block;
  float: left;
  text-align: center;
  margin-right: 1rem;
}
#about-text {
  padding: 10px;
}
.input-field input[type=search] {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  width: calc(100% - 7rem);
}
.input-field input[type=search] ~ .material-icons {
  color: lightgray;
}
.pac-item {
  height: 40px !important;
  cursor: pointer;
}
.popup-text {
  font-size: 12px;
  padding-top: 5px;
}
.side-nav a#my-location, a#full-extent {
  color: #444;
  display: block;
  font-size: 1rem;
  height: 64px;
  line-height: 64px;
  padding: 0px;
}
.side-nav a {
  color: #039be5;
  display: initial;
  font-size: inherit;
  height: initial;
  line-height: initial;
  padding: initial;
}
.sidebar-form {
  padding: 0 19px;
  height: 64px;
  line-height: 64px;
}
.sidebar-form label{
  color: #444;
  font-size: 1rem;
}
[type="checkbox"]+label {
  padding-left: 40px;
}
[type="checkbox"].filled-in:checked+label:after {
  border: 2px solid #2196F3;
  background-color: #2196F3;
}
[type="radio"]:checked+label:after {
  border: 2px solid #2196F3;
  background-color: #2196F3;
}
